@media screen and (max-width: 997px) {
  .users__wrapper {
    flex-wrap: wrap;
  }
  .users__wrapper .users__card {
    flex-basis: 100%;
  }
  .users__wrapper .user__balance {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .child__wrapper .child__container .child__item {
    flex-basis: 40%;
  }
  .child__wrapper .child__container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 845px) {
  .menu__wrapper .menu__container .nav {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .nav__button {
    display: block;
  }
  .menu__wrapper .menu__container .nav li {
    margin-right: 0;
  }
  .footer__wrapper .footer__container {
    flex-direction: column;
  }
  .payment__wrapper {
    flex-wrap: wrap;
  }
  .payment__wrapper .payment__block,
  .payment__wrapper .payment__info {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 617px) {
  .child__wrapper .child__container .child__item {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 470px) {
  table {
    word-break: break-all;
  }
  .general__img__wrapper {
    height: 290px;
  }
  .news__wrapper .news__list .news__content .new__item {
    flex-direction: column;
  }
  .news__wrapper .news__list .news__content .new__item .img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
  }
  .news__wrapper .news__list .news__content .new__item .content {
    margin-bottom: 20px;
  }
  .news__wrapper .new__one .new__title {
    font-size: 18px;
    padding-left: 30px;
  }
  .function__wrapper .function__container .func__item {
    width: 100%;
  }
  .modal__cash,
  .modal__resetpass,
  .modal__auth {
    width: 80%;
  }
  .header__info__wrapper .header__info__container {
    flex-wrap: wrap;
  }
  .header__info__wrapper .header__info__container .logo {
    flex-basis: 100%;
  }
  .header__info__wrapper .header__info__container .contacts {
    text-align: center;
    flex-basis: 100%;
  }
}
